



  
section div p{
    color: #3f51b5;
    font-size: 30px;
    text-shadow: 2px 3px 5px grey;
    margin: 30px 0;
}

section div + p{
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}
.content {
  padding: 1em;
}

.example-spacer {
  flex: 1 1 auto;
}

.grid-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #fff;
  text-decoration: none;
  padding: 4px;
  width: calc(100% - 10px);

}
img {
  max-height: 200px;
  max-width: 200px;
  margin-left: 8px;
  margin-bottom: 8px;
}