
<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>      
      <!-- Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="username">
        <mat-hint align="end">Not more then 60 characters long.</mat-hint>
        <mat-error *ngIf="errorHandling('username', 'required')">
          You must provide a <strong>username</strong>
       </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" [email]="true">
        <mat-error *ngIf="errorHandling('email', 'required')">
          You must provide a <strong>email</strong>
        </mat-error>
      </mat-form-field>
  <!-- Name -->
  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password" formControlName="password">    
    <mat-error *ngIf="errorHandling('password', 'required')">
      You must provide a <strong>password</strong>
   </mat-error>
  </mat-form-field>
      <!-- Gender -->
      <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="Male">Male </mat-radio-button>
          <mat-radio-button value="Female"> Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Date picker -->
      <mat-form-field>
        <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
          (dateChange)="date($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="errorHandling('dob', 'required')">
          Please enter <strong>date of birth</strong>
        </mat-error>
      </mat-form-field>
      <!-- Class -->
      <mat-form-field>
        <mat-label>Profile Created For</mat-label>
        <mat-select [(value)]="selected" formControlName="profilefor">
          <mat-option [value]="profileArray" *ngFor="let profileArray of ProfileFor">{{profileArray}}
          </mat-option>
        </mat-select>        
      </mat-form-field>
      <mat-form-field>
        <mat-label>Marital Status</mat-label>
        <mat-select [(value)]="selectedx" formControlName="maritalstatus">
          <mat-option [value]="maritalArray" *ngFor="let maritalArray of maritalStatusArray">{{maritalArray}}
          </mat-option>
        </mat-select>        
      </mat-form-field>
      <mat-form-field>
        <mat-label>Religion</mat-label>
        <mat-select [(value)]="selecteds" formControlName="religion">
          <mat-option [value]="religionArray" *ngFor="let religionArray of Religion">{{religionArray}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type='file' (change)="selectFile($event)" id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
          </div>
        </div>
        <a mat-raised-button   (click)="fileInput.click()">Upload Image</a>
      </div>
      <mat-card-actions >
        <button mat-raised-button color="primary" >Register</button>
      
      </mat-card-actions>
      <mat-card-actions class="alert alert-warning" *ngIf=" isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </mat-card-actions>
      <mat-card-actions class="alert alert-success" *ngIf=" isSuccessful">
        User registered successfully!
      </mat-card-actions>
      
    </form>
   	<!-- Upload image -->
			 
  
        
          <!-- Submit Button -->
         
        </mat-sidenav-content>
  
</mat-sidenav-container>
